@page "/CheckOut"

<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
<link href="css/CheckMark.css" rel="stylesheet" />

<div class = "align-items-center">

<div class="wrapper"> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
</div>

<div class = "col-12">

    <div class = "row">

        <div class = "col-12 text-center">

            <h1>Thank You For Your Purchase, We Have Sent You An Email With The Necessary Details.</h1>

        </div>

    </div>

</div>

</div>

@code {

}
